<section>
  <div class="container">
    <div class="featured_rest">FEATURED RESTAURANTS</div>
    <div class="restaurants">
      <ng-container *ngFor="let _ of [].constructor(3)">
        <div class="restaurant_container">
          <div class="img_wrapper">
            <a href="#">
              <img src="../../assets/logos/burger.jpg" alt="restaurant" />
            </a>
          </div>
          <div>Mc-Donalds <span>Category</span></div>

          <ul class="stars">
            <li>&#10029;</li>
            <li>&#10029;</li>
            <li>&#10029;</li>
            <li>&#10029;</li>
            <li>&#10029;</li>
          </ul>
          <small>Votes()</small>
        </div>

      </ng-container>
      <ng-container *ngFor="let _ of [].constructor(3)">
        <div class="restaurant_container">
          <div class="img_wrapper">
            <a href="#">   <img src="../../assets/logos/restaurant.jpg" alt="restaurant" /></a>
          </div>
          <div>Mc-Donalds <span>Categorys</span></div>

          <ul class="stars">
            <li>&#10029;</li>
            <li>&#10029;</li>
            <li>&#10029;</li>
            <li>&#10029;</li>
            <li>&#10029;</li>
          </ul>
          <small>Votes()</small>

        </div>

      </ng-container>
    
    </div>
  </div>
</section>
