<section class="product_section">
  <div class="container">
    <div class="title" *ngIf="!products&&noData==false">
      Loading...
    </div>

    <div *ngIf="noData">
      <app-no-data>
        <div>This Restaurant still don`t have any Products.</div>
      </app-no-data>
    </div>

    <div *ngIf="restName" class="main_title">{{restName}} Best Products</div>
    <div class="products_wrapper">
      <div *ngFor="let prod of products" class="product">
        
          <div class="img_wrapper">
            <img src="{{prod.image}}" alt="{{prod.name}}" />
          </div>
          <div class="prod_desc">
            <span>{{prod.name}}</span>
            <p>
             {{prod.description}}
            </p>
            <p class="price">
              Price <span> $ {{prod.price}} </span>

              <button class="btn_add">
                <img src="../../assets/logos/plus.png" alt="add" />
              </button>
            </p>
          </div>
       
      </div>
       
    </div>
  </div>
</section>
