
<div *ngIf="!restaurants; else loaded" class="title">Loading...</div>
<div class="success"  [style.--translate]="'translateY(70%)'" [ngClass]="{'vis_success':success}">
  <div>Thank you!<br>Success.</div>
  <div><img src="../../assets/logos/checked.png" alt="success" /></div>
</div>
<ng-template #loaded>
  <section class="form_rest_section">
    <div class="container form_wrapper">
      <div class="rest_form_container">
        <h1 class="rest_form_title">{{title}} Product</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="input_group">
            <label>Name</label>
            <input  [ngClass]="{'red':form.controls['name'].errors?.['required']}" formControlName="name" required placeholder="Please enter product Name" />
            <div class="error"  [ngClass]="{'visible':form.controls['name'].errors?.['required'] ||this.form.controls['name'].errors?.['emptyString']}" >
              Please enter product name.
            </div>
          </div>

          <div class="input_group">
            <label>Price</label>
            <input  [ngClass]="{'red':form.controls['price'].errors?.['required']}" type="number" formControlName="price" required placeholder="Please enter product Price" />
            <div class="error" [ngClass]="{'visible':(form.controls['price'].errors?.['required'] || this.form.controls['price'].errors?.['pattern']) && form.controls['price'].touched}">
              Please enter product price.
            </div>
            <div class="error" [ngClass]="{'visible':form.controls['price'].errors?.['max']}"  >
              Max price 50000
            </div>
          </div>

          <div class="select_group">
            <select formControlName="restaurant" id="restaurant" [ngClass]="{'red':form.controls['restaurant'].errors?.['required']}">
              <option disabled value="">Select Restaurant Category</option>
              <option *ngFor="let rest of restaurants" [ngValue]="rest.id">
                {{rest.name}}
              </option>
            </select>
            <div class="error" [ngClass]="{'visible':form.controls['restaurant'].errors?.['required']}">
              Please select Restaurant
            </div>
          </div>
        
          <div class="input_group">

            <label for="desc">Product Description</label>

            <textarea class="txt_area" [ngClass]="{'red':form.controls['description'].errors?.['required']}" ng-model="desc" formControlName="description" id="desc" name="desc" rows="4" cols="40">
            </textarea>
            <div class="error" [ngClass]="{'visible':form.controls['description'].errors?.['required']||form.controls['description'].errors?.['emptyString']}">
              Please enter description.
            </div>
          </div>


          <div class="file_group">
            <div class="custom_file">
              <input class="file_input" type="file" formControlName="image" accept=".jpg,.jpeg,.png,.gif,.svg" (change)="upload($any($event.target).files)" />
            </div>
          </div>

          <div class="error" [ngClass]="{'visible':this.form.controls['image'].errors?.['required']}">
            Please select Image
          </div>

          <button class="submit_btn" type="submit" [disabled]="!form.valid">{{title}}</button>
        </form>
      </div>
      </div>
      </section>

</ng-template>

