<section class="category_section">
  <div class="container">
    <div class="title">Top Categories</div>
    <div class="categories_container">

      <div *ngIf="!categories" class="title">Loading...</div>

      <div *ngFor="let category of categories" class="cat_container">
          <div class="bg_img" [style.--img]="'url('+category.img+')'">
            <div><a [routerLink]="['/restaurants',category.id]">{{category.name}}</a></div>
          </div>
      </div>
    </div>
  </div>
</section>
