<header>
  <div class="container">
    <nav>
      <ul class="nav_container">
        <li class="nav_item">
          <div>
            <img src="../../assets/logos/logo.png" />
            <span>DFast</span>
          </div>
        </li>
        <li class="nav_item"><a class="nav_link" href="#">Home </a></li>
        <li class="nav_item">
          <a class="nav_link" [routerLink]="['/restaurants']">Restaurants</a>
        </li>
        <li class="nav_item"><a class="nav_link" href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
