header {
  font-family: "Marko One", Georgia, Times, serif;
  /* border-bottom: 1px solid white; */
  background-color: #e5e5e5;
}


.nav_container {
  min-height: 3em;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 0;
}

.nav_item {
  margin-left: 2em;
  font-size: 1.2em;
}

.nav_item:hover > .nav_link {
  color: #ff7e00;
  border-bottom: solid 1px #ff7e00;
}

a.nav_link {
  border-bottom: 1px solid black;
  transition: color ease-out 0.3s;
}

.nav_item div img {
  max-height: 4em;
  vertical-align: middle;
  border-radius: 50%;
}

.nav_item div span {
  margin-left: 1em;
}

.nav_link {
  text-decoration: none;
  color: black;
}

.nav_item:first-child {
  margin-right: auto;
}

.arrow {
  max-height: 4em;
  position: absolute;
  left: 27em;
  top: 6em;
}

