<main>
  <div class="container">
    <div class="delivery">
      <div class="delivery_fast">
        <img class="arrow" src="../../assets/logos/arrow.svg" />
        <span class="fast">Fast</span> <span>Food</span><br />
        <span class="del">Delivery</span>

        <div class="steps">
          <div class="step_container">
            <div class="steps_desc">Choose by Restaurant</div>
            <div class="step_img">
              <a [routerLink]="['/restaurants']">
                <img src="../../assets/logos/chooseDel.png" alt="choose" />
              </a>
            </div>
          </div>
          <div class="step_container">
            <div class="step_img">
              <img class="no_hover" src="../../assets/logos/double-arrow.png" alt="arrows" />
            </div>
          </div>
          <div class="step_container">
            <div class="steps_desc">Choose by Food Category</div>
            <div class="step_img">
              <img src="../../assets/logos/fast-food.png" alt="fast_food" />
            </div>
          </div>

        </div>
        <a class="btn" href="#">Order Now</a>
      </div>
      <div class="food_container">
        <div class="food">
          <img src="../../assets/logos/food.png" alt="food" />
        </div>
      </div>
    </div>
  </div>
</main>
