<section class="dashboard_section">
  <div class="container">
    <nav>
      <ul class="dashboard_nav">
        <li><button (click)="getOwnerRestaurants()">Restaurants</button></li>
        <li><a [routerLink]="['/restaurant']">Add Restaurant</a></li>
        <li><a [routerLink]="['/product']">Add Product</a></li>
        <li><button (click)="logout()">Log-Out</button></li>
      </ul>
    </nav>
    <div class="main">
      <div class="user_name">Hello {{name}} 👋🏼</div>
      <div class="main_content">
        <div class="table_title" *ngIf="restaurants else noRest">
          {{title}}
          <button class="button info back" (click)="getOwnerRestaurants()" *ngIf="status">Back</button>
        </div>
       
        <ng-template class="table_title" #noRest>
          <div class="table_title">
            You still don`t have any restaurants.<br>
            But you always can create a new one.
          </div>
        </ng-template>
        <div class="table_container">
          <table class="product_table" [ngClass]="{'visible':status}" cellspacing="0">
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Raiting</th>
            </tr>
            <tr *ngFor="let prod of products">
              <td>{{prod.name}}</td>
              <td>{{prod.price}}</td>
              <td>5.3</td>
              <td><a class="button warning" [routerLink]="['/product',prod.id]">Edit</a></td>
              <td><button class="button danger" (click)="deleteProduct(prod.id, prod.restaurantId)">Delete</button></td>
            </tr>
          
          </table>
          <table *ngIf="restaurants" class="rest_table" [ngClass]="{'unvisible':status}" cellspacing="0">
            <tr>
              <th>Name</th>
              <th>Raiting</th>
              <th>Votes</th>
              <th>Orders</th>
            </tr>
            <tr *ngFor="let rest of restaurants">
              <td>{{rest.name}}</td>
              <td>{{rest.raiting}}</td>
              <td>{{rest.votes}}</td>
              <td><a class="button warning" [routerLink]="['/restaurant',rest.id]">Edit</a></td>
              <td><button class="button danger" (click)="deleteRestaurant(rest.id)">Delete</button></td>
              <td><button class="button info" (click)="loadProducts(rest.id)">Products</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
